<h1>Load Expenses</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Amount</th>
      <th>Street</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Business name</th>
      <th>Load</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @load_expenses.each do |load_expense| %>
      <tr>
        <td><%= load_expense.expense_type %></td>
        <td><%= load_expense.latitude %></td>
        <td><%= load_expense.longitude %></td>
        <td><%= load_expense.amount %></td>
        <td><%= load_expense.street %></td>
        <td><%= load_expense.city %></td>
        <td><%= load_expense.state %></td>
        <td><%= load_expense.zip %></td>
        <td><%= load_expense.business_name %></td>
        <td><%= load_expense.load_id %></td>
        <td><%= link_to 'Show', load_expense %></td>
        <td><%= link_to 'Edit', edit_load_expense_path(load_expense) %></td>
        <td><%= link_to 'Destroy', load_expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Load Expense', new_load_expense_path %>
