<div class="page-header">
  <h1>Dispatcher <small><%= @user.first_name %></small></h1>
</div>

<p><%= @user.email %></p>
<p><%= @user.telephone %></p>
<p><%= @user.street %></p>
<p><%= @user.city %></p>
<p><%= @user.state %></p> 
<p><%= @user.type %></p>
<p>Updated <%= @user.updated_at.strftime("%B %-d, %Y @ %-l:%M %P") %></p>
<p>Created <%= @user.created_at.strftime("%B %-d, %Y @ %-l:%M %P") %></p>
<%= link_to "Edit User", edit_user_path(@user), class: 'btn btn-hrcinfo btn-xs' %>	
<%= link_to "All Dispatchers", users_path, class: 'btn btn-hrcprimary btn-xs'%>
