<div class="row">
  <div class="col-sm-6">
<address>
  <strong>Pick up: <%= @load.consignor_name %></strong><br>
  <%= @load.origin_street %> <%= @load.origin_street2 %><br>
  <%= @load.origin_city  %> <%= @load.origin_state  %> <%= @load.origin_zip  %><br>
  <small>Phone: </small><%= @load.origin_phone  %><br />
  <small>Contact: </small><%= @load.origin_contact  %>
</address>
  </div>
  <div class="col-sm-6">
<address>
  <strong>Delivery: <%= @load.consignee_name%></strong><br>
  <%= @load.destination_street %> <%= @load.destination_street2 %><br>
  <%= @load.destination_city  %> <%= @load.destination_state  %> <%= @load.destination_zip  %><br>
  <small>Phone: </small><%= @load.destination_phone %><br />
  <small>Contact: </small><%= @load.destination_contact %>
</address>
  </div>
</div>
<p>
  <strong>
    Pick up Notes: 
  </strong>
    <% if @load.pick_up_notes.present? %>
      <%= @load.pick_up_notes %>
    <% else %>
      No pick up notes were entered.
    <% end %>
</p>
<p>
  <strong>
    Delivery Notes: 
  </strong>
    <% if @load.delevery_notes.present? %>
      <%= @load.delevery_notes %>
    <% else %>
      No delevery notes were entered.
    <% end %>
</p>
<p>
  <strong>Special Instructions: 
  </strong>
    <% if @load.special_instructions.present? %>
      <%= @load.special_instructions %>
    <% else %>
      No special instructions were entered.
    <% end %>
</p>
