<%= render "checkin_map" %>


<% if current_driver_user %>
<%= simple_form_for [@driver, @driver_checkin] do |f| %> 
  <p>Inspect <%= request.location %></p>
  <p>Inspect <%= request.location.inspect %></p>
  <p>Latitude: <%= request.location.latitude %></p>
  <p>Longitude: <%= request.location.longitude %></p> 
  <div class="form-inputs">
    <%= f.input :street %>
    <%= f.input :city, input_html: { value: @city } %> 
    <%= f.input :state %>
    <%= f.input :zip %>
    <%= f.input :ip_address, input_html: { value: @ip } %>
    <%= f.input :latitude, input_html: { value: @lat } %> 
    <%= f.input :longitude, input_html: { value: @lon } %>
    <%= f.input :status %>
    <%= f.input :notes %> 
    <%= f.input :driver_user_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>

<% end %>
<% end %>
