<%= simple_form_for [@driver, @driver_checkin] do |f| %> 
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :street %>
    <%= f.input :city %>
    <%= f.input :state %>
    <%= f.input :zip %>
    <%= f.input :latitude %>
    <%= f.input :longitude %>
    <%= f.input :status %>
    <%= f.input :notes %>
    <%= f.input :driver_user_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<%= @driver_latitude %> 
<%= @driver_longitude %>
<%= @country %>


<div class="contact-map">
    <div id="map-canvas" style="width: 100%; height: 400px">
    </div>
</div>
<!--google map end-->

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&AMP;sensor=false"></script>

<script>

  function initialize() {
    var myLatlng = new google.maps.LatLng(<%= @driver_latitude %>,<%= @driver_longitude %>);
    var mapOptions = {
      zoom: 10,
      center: myLatlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
        var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
    var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: 'Contact'
    }
                                       );
  }
  google.maps.event.addDomListener(window, 'load', initialize);
</script>

