
<p id="demo"></p>

<script>
$(document).ready(function(){
    var x = document.getElementById("demo");
    if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(showPosition);
    } else { 
          x.innerHTML = "Geolocation is not supported by this browser.";
    }

  function showPosition(position) {
      x.innerHTML = "Latitude: " + position.coords.latitude + 
      "<br>Longitude: " + position.coords.longitude;
      var latitude = position.coords.latitude;
      var longitude = position.coords.longitude;
  
      $("#driver_checkin_latitude").val(latitude);
      $("#driver_checkin_longitude").val(longitude);
  }

})



</script>


<% if current_driver_user %>
<%= simple_form_for [@driver, @driver_checkin] do |f| %>  



  <p>IP <%= request.remote_ip %></p>

  
  
  <div class="form-inputs">
    <%= f.input :street %>
    <%= f.input :city, input_html: { value: @city } %> 
    <%= f.input :state, label: "Region",  input_html: { value: @region } %>
    <%= f.input :zip, input_html: { value: @postal_code }  %> 
    <%= f.input :ip_address, input_html: { value: @ip } %>
    <%= f.input :latitude, input_html: { value: @latitude } %> 
    <%= f.input :longitude, input_html: { value: @longitude } %>
    <%= f.input :status %>
    <%= f.input :notes %> 
    <%= f.input :driver_user_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>

<% end %>
<% end %>