<p id="notice"><%= notice %></p>

<p>
  <strong>Street:</strong>
  <%= @driver_checkin.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @driver_checkin.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @driver_checkin.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @driver_checkin.zip %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @driver_checkin.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @driver_checkin.longitude %>
</p>

<p>
  <strong>Status:</strong>
  <%= @driver_checkin.status %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @driver_checkin.notes %>
</p>

<p>
  <strong>Driver user:</strong>
  <%= @driver_checkin.driver_user_id %>
</p>

<%= link_to 'Edit', edit_driver_checkin_path(@driver_checkin) %> |
<%= link_to 'Back', driver_checkins_path %>
