<h2>Carrier MC<small> <%= @company_profile.name %> </small></h2>


                                       
<%=link_to "Update Carrier MC", edit_company_profile_carrier_mc_path(@company_profile, @carrier_mc) %>
<%=link_to "Show Carrier MC", company_profile_carrier_mc_path(@company_profile, @carrier_mc) %>


<p>Internal Entity Type: <%= @carrier_mc.type %></p>
<p>Entity Type: <%= @carrier_mc.entity_type %></p>
<p>Operating Status: <%= @carrier_mc.operating_status %></p>
<p>Out Of Service Date: <%= @carrier_mc.out_of_service_date %></p>
<p>Legal Name: <%= @carrier_mc.legal_name %></p>
<p>DBA Name: <%= @carrier_mc.dba_name %></p>
<p>Physical Address: <%= @carrier_mc.physical_address %></p>
<p>Telephone: <%= @carrier_mc.phone %></p>
<p>Mailing Address: <%= @carrier_mc.mailing_address %></p>
<p>US DOT Number: <%= @carrier_mc.usdot_number %></p>
<p>State Carrier ID:  <%= @carrier_mc.state_carrier_id_number %></p>
<p>MC MM FF Numbers: <%= @carrier_mc.mc_mx_ff_numbers %></p>
<p>DUNS Number: <%= @carrier_mc.duns_number %></p>
<p>Power Units: <%= @carrier_mc.power_units %> </p>
<p>Number of Drivers: <%= @carrier_mc.driver_count %></p>
<p>MCS 150 Form Date: <%= @carrier_mc.mcs_150_form_date %></p>
<p>MCS 150 Mileage Year: <%= @carrier_mc.mcs_150_mileage_year %></p>
<p>general_freight: <%= @carrier_mc.general_freight %></p>
<p>household_goods: <%= @carrier_mc.household_goods %></p>
<p>metal_sheets_coils_rolls: <%= @carrier_mc.metal_sheets_coils_rolls %></p>
<p>motor_vehicles: <%= @carrier_mc.motor_vehicles %></p>
<p>drivetow_away: <%= @carrier_mc.drivetow_away %></p>
<p>logs_poles_beams_lumber: <%= @carrier_mc.logs_poles_beams_lumber %></p>
<p>building_materials: <%= @carrier_mc.building_materials %></p>
<p>mobile_homes: <%= @carrier_mc.mobile_homes %></p>
<p>machinery_large_objects: <%= @carrier_mc.machinery_large_objects %></p>
<p>fresh_produce: <%= @carrier_mc.fresh_produce %></p>
<p>safer_layout: <%= @carrier_mc.safer_layout %></p>
<p>liquids_gases: <%= @carrier_mc.liquids_gases %></p>
<p>intermodal,: <%= @carrier_mc.intermodal %></p> 
<p>passengers: <%= @carrier_mc.passengers %></p>
<p>oilfield_equipment: <%= @carrier_mc.oilfield_equipment %></p>
<p>livestock: <%= @carrier_mc.livestock %></p>
<p>grain_feed_hay: <%= @carrier_mc.grain_feed_hay %></p>
<p>coal_coke: <%= @carrier_mc.coal_coke %></p>
<p>meat: <%= @carrier_mc.meat %></p>
<p>garbage_refuse: <%= @carrier_mc.garbage_refuse %></p>
<p>us_mail: <%= @carrier_mc.us_mail %></p>
<p>chemicals: <%= @carrier_mc.chemicals %></p>
<p>commodities_dry_bulk: <%= @carrier_mc.commodities_dry_bulk %></p>
<p>refrigerated_food: <%= @carrier_mc.refrigerated_food %></p>
<p>beverages: <%= @carrier_mc.beverages %></p>
<p>paper_products: <%= @carrier_mc.paper_products %></p>
<p>utilities: <%= @carrier_mc.utilities %></p>
<p>agricultural_farm_supplies: <%= @carrier_mc.agricultural_farm_supplies %></p>
<p>construction: <%= @carrier_mc.construction %></p>
<p>water_well: <%= @carrier_mc.water_well %></p>
<p>driver_inspections_count: <%= @carrier_mc.driver_inspections_count %></p>
<p>vehicle_inspections_count: <%= @carrier_mc.vehicle_inspections_count %></p>
<p>hazmat_inspections_count: <%= @carrier_mc.hazmat_inspections_count %></p>
<p>iep_inspections_count: <%= @carrier_mc.iep_inspections_count %></p>
<p>driver_inspections_out_service: <%= @carrier_mc.driver_inspections_out_service %></p>
<p>vehicle_inspections_out_service: <%= @carrier_mc.vehicle_inspections_out_service %></p>
<p>hazmat_inspections_out_service: <%= @carrier_mc.hazmat_inspections_out_service %></p>
<p>iep_inspections_out_service: <%= @carrier_mc.iep_inspections_out_service %></p>
<p>driver_inspections_out_service_percent: <%= @carrier_mc.driver_inspections_out_service_percent %></p>
<p>vehicle_inspections_out_service_percent: <%= @carrier_mc.vehicle_inspections_out_service_percent %></p>
<p>hazmat_inspections_out_service_percent: <%= @carrier_mc.hazmat_inspections_out_service_percent %></p>
<p>iep_inspections_out_service_percent: <%= @carrier_mc.iep_inspections_out_service_percent %></p>
<p>crash_fatal: <%= @carrier_mc.crash_fatal %></p>
<p>crash_injury: <%= @carrier_mc.crash_injury %></p>
<p>crash_tow: <%= @carrier_mc.crash_tow %></p>
<p>crash_total: <%= @carrier_mc.crash_total %></p>
<p>cad_vehicle_inspections: <%= @carrier_mc.cad_vehicle_inspections %></p>
<p>cad_driver_inspections: <%= @carrier_mc.cad_driver_inspections %></p>
<p>cad_vehicle_out_of_service: <%= @carrier_mc.cad_vehicle_out_of_service %></p>
<p>cad_driver_out_of_service: <%= @carrier_mc.cad_driver_out_of_service %></p>
<p>cad_vehicle_out_of_service_percent: <%= @carrier_mc.cad_vehicle_out_of_service_percent %></p>
<p>cad_driver_out_of_service_percent: <%= @carrier_mc.cad_driver_out_of_service_percent %></p>
<p>us_inspections_prev_24: <%= @carrier_mc.us_inspections_prev_24 %></p>
<p>cad_inspections_prev_24: <%= @carrier_mc.cad_inspections_prev_24 %></p>
<p>crash_results_24_prior,: <%= @carrier_mc.crash_results_24_prior %></p> 
<p>cad_crash_results_24_prior,: <%= @carrier_mc.cad_crash_results_24_prior %></p> 
<p>cad_crash_fatal,: <%= @carrier_mc.cad_crash_fatal %></p> 
<p>cad_crash_injury,: <%= @carrier_mc.cad_crash_injury %></p> 
<p>cad_crash_tow,: <%= @carrier_mc.cad_crash_tow %></p>  
<p>cad_crash_total,: <%= @carrier_mc.cad_crash_total %></p> 
<p>us_inspection_results_for_24_months_prior_to: <%= @carrier_mc.us_inspection_results_for_24_months_prior_to %></p>
<p>total_inspections: <%= @carrier_mc.total_inspections %></p>
<p>total_iep_inspections: <%= @carrier_mc.total_iep_inspections %></p>
<p>crash_inspections: <%= @carrier_mc.crash_inspections %></p>
<p>the_rating_below_is_current_as_of: <%= @carrier_mc.the_rating_below_is_current_as_of %></p>
<p>rating_date,: <%= @carrier_mc.rating_date %></p> 
<p>review_date,: <%= @carrier_mc.review_date %></p> 
<p>review_rating: <%= @carrier_mc.review_rating %></p>
<p>review_type: <%= @carrier_mc.review_type %></p>

                                       


