<p id="notice"><%= notice %></p>

<h1>Load Expenses</h1>

<table class="table table-bordered table-striped table-condensed table-responsive">
  <thead>
    <tr>
      <th>ID</th>
      <th>Company</th>      
      <th>Entered On</th>
      <th>Type</th>
      <th>Amount</th>
 
  </tr>
  </thead>

  <tbody>
        <%= number_to_currency(@load.rate) %>
    		<% running_total = 0.00 %>
    <% @load_expenses.each do |load_expense| %>
      <tr>
       <td><%= load_expense.id %></td>
       <td>
         <%= link_to load_load_expense_path(@load, load_expense) do %>
           <%= load_expense.vendor_profile.company_name %>
         <% end %>   
       </td>
       <td><%= load_expense.created_at.strftime("%B %-d, %Y at %-l:%M %p") %></td>
        <td><%= load_expense.expense_type %></td>
        <td><%= number_to_currency(load_expense.amount) %></td>

      </tr>
      <% running_total = running_total + load_expense.amount %>
    <% end %>
    <p>Total Expenses <strong><%= number_to_currency(running_total) %></strong></p>
  </tbody>
</table>

<br>