<%= render "loads/mapfiles/style" %> 


<div style='width: 400px;'> 
  <div id="map-canvas" style='width: 400px; height: 400px;'></div>
</div>
<script src="//maps.google.com/maps/api/js?key=AIzaSyBUuN5lRHj62IomskWhMdvJ9MRJnEI--18">
</script> 
<% render "loads/mapfiles/markerclusterer" %>
<% render "loads/mapfiles/list" %>
<%= render "loads/mapfiles/mapster" %>
<%= render "loads/mapfiles/map-options" %>
<% render "loads/mapfiles/jqueryui-mapster" %>
<%= render "loads/mapfiles/script" %>


<%= @driver_checkins.last.latitude %>
 
<p>Distance <%= @distance.to_i %></p>  
<p>@load_origin_address.latitud <%= @load_origin_address.latitude %></p>
<p>@load_origin_address.longitude <%= @load_origin_address.longitude %></p>
<p>@load_destination_address.latitude <%= @load_destination_address.latitude %></p>
<p>@load_destination_address.longitude <%= @load_destination_address.longitude %></p>