


<p>Distance <%= @distance.to_i %></p>  
<p>@load_origin_address.latitud <%= @load_origin_address.latitude %></p>
<p>@load_origin_address.longitude <%= @load_origin_address.longitude %></p>
<p>@load_destination_address.latitude <%= @load_destination_address.latitude %></p>
<p>@load_destination_address.longitude <%= @load_destination_address.longitude %></p>