<%= simple_form_for [@load, @load_address] do |f| %>
<%= f.error_notification %>
<div class="col-sm-10 col-sm-offset-1 shadow">
  <div class="well">
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group input-group">  
          <span class="input-group-addon">|</span>
          <%= f.input :address_type, label: false, collection: ApplicationRecord::AddressType, label: false, placeholder: "Origin/Destination" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group input-group">
          <span class="input-group-addon">|</span>
          <%= f.input :company, label: false, placeholder: "Company Name" %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group input-group">
          <span class="input-group-addon"><i class="fa fa-eur"></i>
          </span>
          <%= f.input :contact, label: false, placeholder: "Contact Person" %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group input-group">
          <span class="input-group-addon"><i class="fa fa-eur"></i>
          </span>
          <%= f.input :phone, label: false, placeholder: "Telephone" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group input-group">
          <span class="input-group-addon"><i class="fa fa-eur"></i>
          </span>
          <%= f.input :street, label: false, placeholder: "Street Address" %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group input-group">
          <span class="input-group-addon"><i class="fa fa-eur"></i>
          </span>
          <%= f.input :street2, label: false, placeholder: "Street Address Contineud..." %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group input-group">
          <span class="input-group-addon">|</span>
          <%= f.input :city, label: false, placeholder: "City" %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group input-group">
          <span class="input-group-addon"><i class="fa fa-eur"></i>
          </span>
          <%= f.input :state, collection: ApplicationRecord::States, label: false %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group input-group">
          <span class="input-group-addon"><i class="fa fa-eur"></i>
          </span>
          <%= f.input :zip, label: false, placeholder: "zip code" %>
        </div>
      </div>
    </div>
    <%= f.button :submit, class: 'btn btn-hrcprimary btn-xs' %>
    <%= link_to 'Back to Load', load_path(@load), class: 'btn btn-hrcprimary btn-xs' %>
    <% end %>
  </div>
</div>






        

    
 <div class="form-group input-group">
<span class="input-group-addon"><i class="fa fa-eur"></i>
</span>
HHHHHHHHHHHHHHHHHHHHHH
</div>

    


