<table class="table table-bordered table-striped table-condensed table-responsive">
  <thead>
    <tr>
      <th>Total Miles</th>
      <th>Gross $</th>
      <th>Gross RPM</th>
      <th>Net RPM</th>
      <th>Net $</th>
    </tr>
  </thead>
  <% net_after_otr_expense = driver_load_running_total - debit_total %>
  <tbody>
    <tr>
      <td><%= total_miles %></td>
      <td><%= number_to_currency(driver_load_running_total) %></td>
      <td><%= number_to_currency(driver_load_running_total / total_miles) %></td>
      <td><%= number_to_currency(rate_after_expenses / total_miles) %></td>
      <td><%= number_to_currency(net_after_otr_expense) %></td>
    </tr>
  </tbody>
</table>