<h2>Statements</h2>
<%= paginate @statements if @statements.present? %>  
<%= search_form_for @search_statements do |f| %>  
<%= link_to "Reload", 
  loads_path, class: 'btn btn-hrcprimary btn-xs round'%>
<br />
<div>
  <%= f.label :driver_statements_search_params_cont, "Search" %>  
  <%= f.text_field :driver_statements_search_params_cont %>     
</div>


<% end %>
<table class="table table-bordered table-striped table-condensed table-responsive">
  <thead>
    <tr>
      <th><%= sort_link @search_statements, :id, "ID" %></th>
<th><%= sort_link @search_statements, :created_at, "Created On" %></th>
      <th><%= sort_link @search_statements, :first_name, "Driver Name" %></th>
      <th><%= sort_link @search_statements, :payment_status, "Payment Status" %></th>
      <th>Created On</th>
      <th>Due On</th>
    
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @driver_statements.each do |driver_statement| %>
      <tr>
        <td><%= driver_statement.id %></td>
        <td><%= driver_statement.driver_user.full_name %></td>
        <td><%= driver_statement.payment_status %></td>
        <td><%= driver_statement.created_at.strftime("%A %B %-d, %Y %-l:%M %p %Z") %></td>
        <td><%= driver_statement.due_date.strftime("%A %B %-d, %Y") %></td>     
        <td>
          <%= link_to 'View Statement', 
          driver_user_driver_statement_path(@driver, driver_statement),
          class: "btn btn-info btn-xs round" %>
        </td>  
        <td><%= link_to 'Edit', edit_driver_user_driver_statement_path(@driver, driver_statement),
          class: "btn btn-primary btn-xs round" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


