<%= simple_form_for(@load_statement) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
<%= f.collection_select :statement_load_ids, @statement_loads, :id, :name %>

    <%= f.input :trailer_rent %>
    <%= f.input :truck_rent %>
    <%= f.input :insurance %>
    <%= f.input :notes %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
