<p id="notice"><%= notice %></p>

<h1>Load Statements</h1>

<table>
  <thead>
    <tr>
      <th>Trailer rent</th>
      <th>Truck rent</th>
      <th>Insurance</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @load_statements.each do |load_statement| %>
      <tr>
        <td><%= load_statement.trailer_rent %></td>
        <td><%= load_statement.truck_rent %></td>
        <td><%= load_statement.insurance %></td>
        <td><%= load_statement.notes %></td>
        <td><%= link_to 'Show', load_statement %></td>
        <td><%= link_to 'Edit', edit_load_statement_path(load_statement) %></td>
        <td><%= link_to 'Destroy', load_statement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Load Statement', new_load_statement_path %>
