<%= simple_form_for [@driver, @statement] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :insurance_payment %>
    <%= f.input :trailer_rental %>
    <%= f.input :truck_rental %>
    <%= f.input :escrow %>
    <%= f.input :driver_user_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
