<p id="notice"><%= notice %></p>

<h1>Statements</h1>

<table>
  <thead>
    <tr>
      <th>Insurance payment</th>
      <th>Trailer rental</th>
      <th>Truck rental</th>
      <th>Escrow</th>
      <th>Driver user</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @statements.each do |statement| %>
      <tr>
        <td><%= statement.insurance_payment %></td>
        <td><%= statement.trailer_rental %></td>
        <td><%= statement.truck_rental %></td>
        <td><%= statement.escrow %></td>
        <td><%= statement.driver_user_id %></td>
        <td><%= link_to 'Show', driver_user_statement_path(@driver, statement)  %></td>
        <td><%= link_to 'Edit', edit_driver_user_statement_path(@driver, statement)  %></td>
        <td><%= link_to 'Destroy', driver_user_statement_path(@driver, statement), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Statement', new_driver_user_statement_path %>
