<p id="notice"><%= notice %></p>

<p>
  <strong>Insurance payment:</strong>
  <%= @statement.insurance_payment %>
</p>

<p>
  <strong>Trailer rental:</strong>
  <%= @statement.trailer_rental %>
</p>

<p>
  <strong>Truck rental:</strong>
  <%= @statement.truck_rental %>
</p>

<p>
  <strong>Escrow:</strong>
  <%= @statement.escrow %>
</p>

<p>
  <strong>Driver user:</strong>
  <%= @statement.driver_user_id %>
</p>

<%= link_to 'Edit', edit_driver_user_statement_path(@driver, @statement) %> |
<%= link_to 'Back', driver_user_statements_path %>
