<%= simple_form_for(@load) do |f| %>
  <%= f.error_notification %>
  
<div class="col-sm-12 col-sm-offset-0 shadow">
  <div class="well">
    <div class="row">
      <div class="col-sm-6">
 
        <div class="form-group input-group">  
          <span class="input-group-addon"><i class="fa fa-eur"></i></span>
          <%= f.input :name, label: false, 
          placeholder: 'Description - e.g. "Miami to Buffalo"', 
          input_html: {value: "Niagara Falls To Miami"} %>
        </div>
      </div>      
      <div class="col-sm-3">

        <div class="form-group input-group">
          <span class="input-group-addon"><i class="fa fa-eur"></i></span>
           <%= f.collection_select :driver_user_id, @driver.all.order(:first_name),
           :id, :full_name, include_blank: "Select Driver"  %>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group input-group">
          <span class="input-group-addon"><i class="fa fa-eur"></i></span>
            <%= f.collection_select :company_profile_ids, @company_profile.all.order(:name),
             :id, :name, include_blank: "Broker/Shipper" %>  
      </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3"> 
        <div class="form-group input-group">
          <span class="input-group-addon"><i class="fa fa-eur"></i></span>
          
    <%= f.input :equipment_type, collection: ApplicationRecord::EquipmentType, 
    label: false, include_blank: "Equipment Type" %>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group input-group">
          <span class="input-group-addon"><i class="fa fa-eur"></i> </span>
         
            <%= f.input :status_name, collection: ApplicationRecord::LoadStatusStatus, 
            label: false, include_blank: "Booking Status" %> 
        </div>
      </div>
      <div class="col-sm-2"> 
        <div class="form-group input-group">
          <span class="input-group-addon"><i class="fa fa-eur"></i>
          </span>
        <%= f.input :commodity, label: false, placeholder: "Commodity" %>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="form-group input-group">
          <span class="input-group-addon"><i class="fa fa-eur"></i></span>
          
        <%= f.input :weight, label: false, placeholder: 'Weignt e.g "25000"' %>
        <span class="input-group-addon">Pounds</span>
        </div>
      </div>
      </div>

    <div class="row">
      <div class="col-sm-2 col-sm-offset-1">
        <div class="form-group input-group">
          <span class="input-group-addon"><i class="fa fa-eur"></i></span>
              <%= f.input :units, label: false, 
                placeholder: "Imperial/Metric", input_html: {value: "Imperial" }%>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group input-group">
          <span class="input-group-addon"><i class="fa fa-eur"></i></span>
          
<%= f.input :load_size, collection: ApplicationRecord::LoadSize, 
            label: false, include_blank: "e.g. 'FTL, LTL'" %>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group input-group">
          <span class="input-group-addon">$</span>
          
            <%= f.input :rate, label: false, placeholder: "Rate"  %>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group input-group">
          <span class="input-group-addon">$</span>
          
           <%= f.input :distance, label: false, placeholder: "Distance", input_html: {value: "" }%>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group input-group">
          <span class="input-group-addon">33x22</span>
          
           <%= f.input :dimentions, label: false, placeholder: "Dimentions", input_html: {value: "22x33"}%>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-0">
        <div class="form-group input-group">
          <span class="input-group-addon"><i class="fa fa-eur"></i></span>
   <%= f.datetime_select :pick_up_time, 
   prompt: { day: 'Select day', month: 'Select month', year: 'Select year', 
   hour: 'Choose hour', minute: 'Choose minute'}, ampm: true %>
        </div>
      </div>
  </div>

  </div>
</div>

    <%= link_to 'Whatever', "#", class: 'btn btn-hrcprimary btn-xs' %>


  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-info btn-xs" %>
  </div>
<% end %>
