<%= simple_form_for(@load) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :hrc_user_id %>
   <%= f.collection_select :driver_user_id, DriverUser.all.order(:first_name),:id,:full_name, include_blank: true %>

    <%= f.input :status_name, collection: ApplicationRecord::LoadStatusStatus %> 
    <%= f.input :commodity %>
    <%= f.input :weight %>
    <%= f.input :units %>
    <%= f.input :load_size %>
    <%= f.input :rate %>
    <%= f.input :distance %>
    <%= f.input :pick_up_time %>
    <%= f.input :delevery_time %>
    <%= f.input :equipment_type %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
