<h1>Editing Load</h1>
<%= simple_form_for(@load) do |f| %>


  <div class="form-inputs">
    <%= f.input :hrc_user_id %>
   <%= f.collection_select :driver_user_id, @driver.all.order(:first_name),
   :id, :full_name, include_blank: true %>

    <%= f.input :updated_by, input_html:{ :value => @hrc_user.full_name } %> 
    <%= f.input :status_name, collection: ApplicationRecord::LoadStatusStatus %> 
    <%= f.input :commodity %>
    <%= f.input :weight %>
    <%= f.input :units %>
    <%= f.input :load_size %>
    <%= f.input :rate %>
    <%= f.input :distance %>
    <%= f.input :pick_up_time %>
    <%= f.input :delevery_time %>
    <%= f.input :equipment_type %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>



<%= link_to 'Show', @load %> |
<%= link_to 'Back', loads_path %>
