<p>
  <strong>Created By:</strong>
  <%= link_to @load.hrc_user.full_name, user_path(@load.hrc_user_id) %>
</p>

<p>
  <strong>Updated By:</strong>
  <%= @load.updated_by %>
</p>

<p>
  <strong>Assigned To:</strong>
    <% if @load.driver_user.present? %>
      <%= link_to @load.driver_user.full_name, user_path(@load.driver_user_id) %>

    <% else %>
      No Driver Assigned
    <% end %>
</p>



<p>
  <strong>Commodity:</strong>
  <%= @load.commodity %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @load.weight %>
</p>

<p>
  <strong>Units:</strong>
  <%= @load.units %>
</p>

<p>
  <strong>Load size:</strong>
  <%= @load.load_size %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @load.rate %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @load.distance %>
</p>

<p>
  <strong>Pick up time:</strong>
  <%= @load.pick_up_time %>
</p>

<p>
  <strong>Delevery time:</strong>
  <%= @load.delevery_time %>
</p>

<p>
  <strong>Equipment type:</strong>
  <%= @load.equipment_type %>
</p>

<%= link_to 'Edit', edit_load_path(@load) %> |
<%= link_to 'Back', loads_path %>
