<div class="row">
    <div class="col-sm-6">
<div class="col-lg-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      Shipper Name
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
      <!-- Nav tabs -->
      <ul class="nav nav-pills">
        <li class="active"><a href="#home-pills" data-toggle="tab" aria-expanded="true">Details</a>
        </li>
        <li class=""><a href="#profile-pills" data-toggle="tab" aria-expanded="false">Pick up/Delivery</a>
        </li>
        <li class=""><a href="#messages-pills" data-toggle="tab" aria-expanded="false">Destinations</a>
        </li>
        <li class=""><a href="#settings-pills" data-toggle="tab" aria-expanded="false">Settings</a>
        </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane fade active in" id="home-pills">
          <h4>Current Status |<%= @load.status_name %>|</h4>
          <p><%= render "loads/partials/tabs/details" %></p>
        </div>
        <div class="tab-pane fade" id="profile-pills">
          <h4>Current Status |<%= @load.status_name %>|</h4>
          <p><%= render "loads/partials/tabs/pick_up_delivery" %></p>
        </div>
        <div class="tab-pane fade" id="messages-pills">
          <h4>Current Status |<%= @load.status_name %>|</h4>
          <p><%= render "loads/partials/tabs/destinations" %></p>
        </div>
        <div class="tab-pane fade" id="settings-pills">
          <h4>Current Status |<%= @load.status_name %>|</h4>
          <p><%= render "loads/partials/tabs/destinations" %></p>
        </div>
      </div>
    </div>
    <!-- /.panel-body -->
  </div>
  <!-- /.panel -->
</div>
    </div>
   