<h1>Company Profiles</h1>

<table class="table table-bordered table-striped table-condensed table-responsive">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Location</th>
      <th>MC</th>
      <th></th>
      <th></th>
      <th></th>
      <th>Website</th>
      <th>Logo</th>
      <th>Broker mc</th>
      <th>Carrier mc</th>
      <th>Us dot</th>
      <th>other stuff</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @company_profiles.each do |company| %>
      <tr>
        <td><%= company.id %></td>
        <td><%= company.name %></td>
        <td><%= company.location %></td>
        <td><%= company.carrier_mc_number %></td>
        <td><%=  %></td>
        <td><%=  %></td>
        <td><%=  %></td>
        <td><%= company.website %></td>
        <td><%= company.logo %></td>
        <td><%= company.broker_mc_number %></td>
        <td><%= company.carrier_mc_number %></td>
        <td><%= company.us_dot_number %></td>
        <td><%= %></td>
        <td><%= link_to 'Show', company %></td>
        <td><%= link_to 'Edit', edit_company_profile_path(company) %></td>
        <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company', new_company_profile_path %>
