<h1><%= @company.name %> <small></small></h1>
<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @company.address %>
</p>


<p>
  <strong>Telephone:</strong>
  <%= @company.telephone %>
</p>

<p>
  <strong>Website:</strong>
  <%= @company.website %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @company.logo %>
</p>

<p>
  <strong>Broker mc:</strong>
  <%= @company.broker_mc_number %>
</p>

<p>
  <strong>Carrier mc:</strong>
  <%= @company.carrier_mc_number %>
</p>

<p>
  <strong>Us dot:</strong>
  <%= @company.us_dot_number %>
</p>

<p>
  <strong>Company manager:</strong>
  <%= @company_manager.full_name %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>


<%= render 'companies/authorities/us_dot'%>
<%= render 'companies/authorities/carrier_mc'%>

<%= render 'companies/authorities/broker_mc'%>