<p id="notice"><%= notice %></p>
<%= link_to "Add Authority", new_company_operating_authority_path(@company) %>
<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @company.address %>
</p>


<p>
  <strong>Telephone:</strong>
  <%= @company.telephone %>
</p>

<p>
  <strong>Website:</strong>
  <%= @company.website %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @company.logo %>
</p>

<p>
  <strong>Broker mc:</strong>
  <%= @company.broker_mc %>
</p>

<p>
  <strong>Carrier mc:</strong>
  <%= @company.carrier_mc %>
</p>

<p>
  <strong>Us dot:</strong>
  <%= @company.us_dot %>
</p>

<p>
  <strong>Company manager:</strong>
  <%= @company_manager.full_name %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>


<% @oa.each do |oa| %>

<p><%= oa.name %></p><%=link_to "Update Authority", edit_company_operating_authority_path(@company, oa) %>
<p><%= oa.authority_type %></p>
<p><%= oa.number %></p>
<% end %>
