<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @company.address %>
</p>


<p>
  <strong>Telephone:</strong>
  <%= @company.telephone %>
</p>

<p>
  <strong>Website:</strong>
  <%= @company.website %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @company.logo %>
</p>


<p>
  <strong>Company manager:</strong>
  <%= @company_manager.full_name %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>


<% @bmc.each do |bmc| %>

<p>legal_name<%= bmc.legal_name %></p><%=link_to "Update Authority", edit_company_broker_mc_path(@company, bmc) %>
<p>operating_status<%= bmc.operating_status %></p>
<p>usdot_number<%= bmc.usdot_number %></p>
<% end %>
