<script>
(function(window, mapster) {
  
  // map options
  
  var options = mapster.MAP_OPTIONS,
  element = document.getElementById('map-canvas'),
  // map
  map = mapster.create(element, options);

  var marker = map.addMarker({
    lat: <%= @load_origin_address.latitude %>,
    lng: <%= @load_origin_address.longitude %>,
    content: '<div style="color: #f00;">I like food</div>'
  });
  
  var marker2 = map.addMarker({
    lat: <%= @load_destination_address.latitude %>,
    lng: <%= @load_destination_address.longitude %>,
    content: 'I like rice'
  });
 
  var marker3 = map.addMarker({
    lat: <%= @driver_checkins.last.latitude %>,
    lng: <%= @driver_checkins.last.longitude %>, 
    content: 'Last Checkin @ <%= local_time(@driver_checkins.last.created_at, format: '%B %e, %Y %l:%M%P %Z') %>'

  });
  
  //map._removeMarker(marker2);
  
  //console.log(map.markers);
  
  var found = map.findMarkerByLat(<%= @load_origin_address.latitude %>);
  
  console.log(found);
  

}(window, window.Mapster));

</script> 