<h4>
Load Status
<% if @load.status_name == "Active" %>
<span class="label label-success round">
   <%= @load.status_name %>
</span>
<% elsif @load.status_name == "Pending" %>
<span class="label label-warning round">
   <%= @load.status_name %>
</span>         
<% elsif @load.status_name == "Complete" %>
<span class="label label-info round">
   <%= @load.status_name %>
<% elsif @load.status_name == "Cancelled" %>
<span class="label label-danger round">
   <%= @load.status_name %>
<% end %>
</span>    
</h4>
<p>
<h3><%= @load.name if current_hrc_user %></h3>
<p>
<div class="row">
  <div class="col-sm-9">

  </div>
  <div class="col-sm-3">
    Equipment: <%= @load.equipment_type %>
  </div>
</div>
</p>
<p>
  Booked by: <%= link_to @load.hrc_user.full_name, 
    user_path(@load.hrc_user_id) %>
</p>
<p>
  Updated by:
  <% if @load.updated_by.present? %>
  <%= @load.updated_by %>
  <% else %>
  No Updates
  <% end %>  
</p>
<p>
<div class="row">
  <div class="col-sm-9">
    Commodity:
    <%= @load.commodity %>
  </div>
  <div class="col-sm-3">
    Load size:
    <%= @load.load_size %>
  </div>
</div>
</p>
<p>
<div class="row">
  <div class="col-sm-9">
    Weight:
    <%= @load.weight %>
  </div>
  <div class="col-sm-3">
  <% @load.units %>
  </div>
</div>
</p>
<p>
<div class="row">
  <div class="col-sm-9">
      <% @load.rate %>
  </div>
  <div class="col-sm-3">
    Distance:
    <%= @load.miles %>
  </div>
</div>
</p>
<p>
  Dimentions: 
  <% if @load.dimentions.present? %>
  <%= @load.dimentions %>
  <% else %>
  None Given
  <% end %>
</p>
<p>
  Special Instructions:
  <% if @load.special_instructions.present? %>
  <%= @load.special_instructions %>
  <% else %>
  No Special Instructions
  <% end %>
</p>

<%= Time.now.strftime("%-l:%M %p") %> 
