<div class="col-lg-6">
  <div class="panel panel-default">
    <div class="panel-heading"> 
      <h3>
        <%= @load.load_title if current_driver_user %>
        <%= link_to @load.company_profile.company_name, 
        company_profile_path(@company_profile) if current_hrc_user %><br />
        <small><%= @load.load_title if current_hrc_user  %></small><br />
        (<small> <%= @load.miles %> Miles</small>)
      </h3>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
      <!-- Nav tabs -->
      <ul class="nav nav-pills">
        <li><a href="#overview" data-toggle="tab">Overview</a></li>
        <li class="active"><a href="#pud" data-toggle="tab">Pick Up/Delivery</a></li>
        
        
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">

        <div class="tab-pane fade" id="pud"> 
        <%= render "loads/partials/lefttabs/pick_up_delivery" %>
        </div>
        <div class="tab-pane fade in active" id="overview">
          <%= render "loads/partials/lefttabs/details" %>
        </div>

      </div>
    </div>
    <!-- /.panel-body -->
  </div>
  <!-- /.panel -->
</div>