<%= render "loads/partials/statuses" %>

<div class="row">
  <div class="col-sm-6">
    <p>
    <h4>Pick Up</h4>
    <address>
      <strong><%= @load_origin_address.company %></strong><br>
      <%= @load_origin_address.street %><br>
      <%= @load_origin_address.city  %> <%= @load_origin_address.state  %> <%= @load_origin_address.zip  %><br>
      <small>Phone: </small><%= @load_origin_address.phone  %><br />
      <small>Contact: </small><%= @load_origin_address.contact  %>
    </address>
    <h4>Pick Up Time Details</h4>
    <p>
      <% if @load.pick_up_date.present? %>
      <%= (@load.pick_up_date.strftime("%A %B %-d, %Y")) %><br> 
      <% if @load.pick_up_time == "2000-01-01 00:00:00" %>
      <span class="text-green">See notes for details</span>
      <% else %>
Appointment Booked @ <%= (@load.pick_up_time.strftime("%-l:%M %p %Z")) %><br /> 
See notes for more details
      <% end %>
      <% if @load.pick_up_notes.present? %>
      <span>(see pick up notes)</span>
      <% else %>
      <% end %>
<% if @load_origin_addresses.present? %><br />  
      <strong class="text-red">This load has multiple Pick Ups!</strong>
      <% else %>
      <% end %>
      <% else %>
      No Pick Up Date Set
      <% end %>
  </div>
  
  
  <div class="col-sm-6">
    <h4>Delivery</h4>
    <address>
      <strong><%= @load_destination_address.company %></strong><br>
      <%= @load_destination_address.street %><br>
      <%= @load_destination_address.city  %> <%= @load_destination_address.state  %> <%= @load_destination_address.zip  %><br>
      <small>Phone: </small><%= @load_destination_address.phone %><br />
      <small>Contact: </small><%= @load_destination_address.contact %>
    </address>
    <h4>Delivery Time Details</h4>
    <p>
      <% if @load.delivery_date.present? %>
      <%= (@load.delivery_date.strftime("%A %B %-d, %Y")) %><br /> 
      <% if @load.delivery_time == "2000-01-01 00:00:00" %>
      
     <span class="text-red">See notes for details</span>
      <% else %>
      Appointment Booked @ <%= (@load.delivery_time.strftime("%-l:%M %p")) %><br />
      <% end %>
      <% if @load.delivery_notes.present? %><br />
      <span>(see delivery notes)</span>
      <% else %>
      <% end %>
      <% if @load_destination_addresses.present? %><br />  
      <strong class="text-red">This load has multiple deliveries!</strong>
      <% else %>
      <% end %>
      <% else %>
      No Delivery Date Set 
      <% end %>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <h4>Pick Up Notes</h4>
    <% if @load.pick_up_notes.present? %>
    <%= @load.pick_up_notes %>
    <% else %>
    No pick up notes were entered.
    <% end %>
  </div>
  <div class="col-sm-6">
    <h4>Delivery Notes</h4>
    <% if @load.delivery_notes.present? %>
    <%= @load.delivery_notes %>
    <% else %>
    No delivery notes were entered.
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <hr>
    <h4>Special Instructions</h4>
    <% if @load.special_instructions.present? %>
    <%= @load.special_instructions %>
    <% else %>
    No special instructions were entered.
    <% end %>
    <hr>
<%= link_to "Add Pickup Address", new_load_load_origin_address_path(@load, @address), 
  class: "btn btn-success round btn-xs" %>
<%= link_to "Add Delivery Address", new_load_load_destination_address_path(@load, @address), 
  class: "btn btn-danger round btn-xs pull-right" %> 
  </div>
</div>
<p><%= render "loads/partials/lefttabs/address" %></p>
<br />

