<h4>Current Status |<%= @load.status_name %>|</h4>
<div class="row">
  <div class="col-sm-6">
    <p>
    <h4>Pick Up</h4>
    <address>
      <strong><%= @load.consignor_name %></strong><br>
      <%= @load.origin_street %><br>
      <%= @load.origin_city  %> <%= @load.origin_state  %> <%= @load.origin_zip  %><br>
      <small>Phone: </small><%= @load.origin_phone  %><br />
      <small>Contact: </small><%= @load.origin_contact  %>
    </address>
    <h4>Pick Up Time Details</h4>
    <p>
      <% if @load.pick_up_date.present? %>
      <%= (@load.pick_up_date.strftime("%A %B %-d, %Y")) %><br> 
      <% if @load.pick_up_time == "2000-01-01 00:00:00" %>
      <span class="text-red">See notes for details</span>
      <% else %>
Appointment Booked @ <%= (@load.pick_up_time.strftime("%-l:%M %p")) %><br /> 
See notes for more details
      <% end %>
      <% if @load.pick_up_notes.present? %>
      <span>(see pick up notes)</span>
      <% else %>
      <% end %>
      <% else %>
      No Pick Up Date Set
      <% end %>
  </div>
  <div class="col-sm-6">
    <h4>Delivery</h4>
    <address>
      <strong><%= @load.consignee_name%></strong><br>
      <%= @load.destination_street %><br>
      <%= @load.destination_city  %> <%= @load.destination_state  %> <%= @load.destination_zip  %><br>
      <small>Phone: </small><%= @load.destination_phone %><br />
      <small>Contact: </small><%= @load.destination_contact %>
    </address>
    <h4>Delivery Time Details</h4>
    <p>
      <% if @load.delivery_date.present? %>
      <%= (@load.delivery_date.strftime("%A %B %-d, %Y")) %><br /> 
      <% if @load.delivery_time == "2000-01-01 00:00:00" %>
      
     <span class="text-red">See notes for details</span>
      <% else %>
      Appointment Booked @ <%= (@load.delivery_time.strftime("%-l:%M %p")) %><br />
      <% end %>
      <% if @load.delivery_notes.present? %><br />
      <span>(see delivery notes)</span>
      <% else %>
      <% end %>
      <% if @load.load_addresses.present? %><br />
      <strong class="text-red">This load has multiple stops!</strong>
      <% else %>
      <% end %>
      <% else %>
      No Delivery Date Set 
      <% end %>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <h4>Pick Up Notes</h4>
    <% if @load.pick_up_notes.present? %>
    <%= @load.pick_up_notes %>
    <% else %>
    No pick up notes were entered.
    <% end %>
  </div>
  <div class="col-sm-6">
    <h4>Delivery Notes</h4>
    <% if @load.delivery_notes.present? %>
    <%= @load.delivery_notes %>
    <% else %>
    No delivery notes were entered.
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <hr>
    <h4>Special Instructions</h4>
    <% if @load.special_instructions.present? %>
    <%= @load.special_instructions %>
    <% else %>
    No special instructions were entered.
    <% end %>
    <hr>
  </div>
</div>
<p><%= render "loads/partials/lefttabs/address" %></p>
<%= link_to "Add Address", new_load_load_address_path(@load), 
  class: "btn btn-success round btn-xs" %>
