<%= simple_form_for(@shipper) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :handle %>
    <%= f.input :contact_person %>
    <%= f.input :telephone %>
    <%= f.input :fax %>
    <%= f.input :location %>
    <%= f.input :broker_mc %>
    <%= f.input :carrier_mc %>
    <%= f.input :dot_number %>
    <%= f.input :website %>
    <%= f.input :street %>
    <%= f.input :city %>
    <%= f.input :state %>
    <%= f.input :zip %>
    <%= f.input :notes %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
