<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @shipper.name %>
</p>

<p>
  <strong>Handle:</strong>
  <%= @shipper.handle %>
</p>

<p>
  <strong>Contact person:</strong>
  <%= @shipper.contact_person %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @shipper.telephone %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @shipper.fax %>
</p>

<p>
  <strong>Location:</strong>
  <%= @shipper.location %>
</p>

<p>
  <strong>Broker mc:</strong>
  <%= @shipper.broker_mc %>
</p>

<p>
  <strong>Carrier mc:</strong>
  <%= @shipper.carrier_mc %>
</p>

<p>
  <strong>Dot number:</strong>
  <%= @shipper.dot_number %>
</p>

<p>
  <strong>Website:</strong>
  <%= @shipper.website %>
</p>

<p>
  <strong>Street:</strong>
  <%= @shipper.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @shipper.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @shipper.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @shipper.zip %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @shipper.notes %>
</p>

<%= link_to 'Edit', edit_shipper_path(@shipper) %> |
<%= link_to 'Back', shippers_path %>
