<h1>Completed Loads</h1>

<table class="table table-bordered table-striped table-condensed table-responsive">
  <thead>
    <tr>
      <th>ID</th>
      <th>Booked On</th>
      <th>Description</th>
      <th>Rate</th>
      <th>Distance (Miles)</th>
      <th>Load Expenses</th>
      <th>Pick up time</th>
      <th>Delivery time</th>
      <th>Status</th>

      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% expense_running_total = 0.00 %>
    <% hrc_load_running_total = 0.00 %>
    <% total_miles = 0 %>
    <% driver_load_running_total = 0.00 %>
    <% @completed_loads.each do |load| %>
    <tr>
      
      <td><%= load.id %></td>
      <td><%= (load.created_at.strftime("%A %B %-d, %Y")) %></td>      
      <td>
        <%= link_to load do %>
        <%= load.load_title %> 
        <% end %>
      </td>
      <td><%= number_to_currency(load.rate_to_driver) %></td>
      <td><%= load.miles %> </td>
      <td>
        <% load.transactions.each do |le| %>
        (<%= le.expense_type %> <%= number_to_currency(le.debit) %> 
        <%= le.business_name %> <%= le.city %>)  
        <% expense_running_total = expense_running_total + le.debit %>
        <% end %>
      </td>
      <td>
        <%= (load.pick_up_date.strftime("%A %B %-d, %Y")) %>
        @ <%= (load.pick_up_time.strftime("%-l:%M %p")) %> 
      </td>
      <td>
        <%= (load.delivery_date.strftime("%A %B %-d, %Y")) %>
        @ <%= (load.delivery_time.strftime("%-l:%M %p")) %>
      </td>
      <td><%= load.status_name %></td>
    </tr>
    <% hrc_load_running_total = hrc_load_running_total + load.rate %> 
    <% driver_load_running_total = driver_load_running_total + load.rate_to_driver %> 
    <% total_miles = total_miles + load.miles %>
    <% end %>
  </tbody>
</table>
<br>
<% driver_net = driver_load_running_total - expense_running_total %>
<% hrc_net = hrc_load_running_total - driver_load_running_total %>
<table class="table table-bordered table-striped table-condensed table-responsive">
	<thead>
		<tr>
      <th>Total</th>
      <th>Total Miles</th>
      <th>Gross RPM</th>
      <th>Expenses</th>
      <th>Net RPM</th>
      <th>Income After Expenses</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			  <td><%= number_to_currency(driver_load_running_total) %></td>
        <td><%= total_miles %></td>
        <td><%= number_to_currency(driver_load_running_total / total_miles) %></td>
        <td>- <%= number_to_currency(expense_running_total) %></td>
        <td><%= number_to_currency(driver_net / total_miles) %></td>
        <td><%= number_to_currency(driver_net) %></td>
		</tr>
	</tbody>
</table>