<h1>Maps</h1>
<div class="contact-map">
    <div id="map-canvas" style="width: 100%; height: 400px">
    </div>
</div>
<!--google map end-->

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&AMP;sensor=false"></script>



<address>

  @latitude <%= @inbound.latitude if !@inbound.nil? %><br>
  @longitude <%= @inbound.longitude if !@inbound.nil? %> <br>
  <%= @inbound.from_city if !@inbound.nil? %>, <%= @inbound.from_state if !@inbound.nil? %> 
  <%= @inbound.from_zip if !@inbound.nil? %><br>
</address>

<script>

  //google map
  function initialize() {
    var myLatlng = new google.maps.LatLng(<%= @inbound.latitude if !@inbound.nil? %>,<%= @inbound.longitude if !@inbound.nil? %>);
    var mapOptions = {
      zoom: 10,
      center: myLatlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
        var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
    var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: 'Contact'
    }
                                       );
  }
  google.maps.event.addDomListener(window, 'load', initialize);
</script>

