
<%= simple_form_for [@driver, Message.new] do |f| %> 
<%= f.input :number, input_html: { value:  '1'+@driver.cellphone } %>
<%= f.submit 'Send' %>
<%= f.text_area :text, rows: 3 %>
<% end %>


<div id="texts"> 


<% @driver_number = @driver.cellphone.last(10) %>
<% @messages.each do |message| %>
<% if @driver_number == message.number.last(10)  %>
<p>
<%= local_time(message.created_at, format: '%B %e, %Y %l:%M%P %Z') %>
  <%= message.text %>
    <%= message.number.last(10) %>
</p> 
<% end %>
<% end %>
    
</div> 
    