
<%= simple_form_for Message.new do |f| %> 
<%= f.input :number, input_html: { value:  '1'+@driver.cellphone } %>
<%= f.text_area :text, rows: 2 %>
<a href="<% link_to message_path(@message.number) %>" target="_blank">

<%= f.submit 'Send', :formtarget => "_blank" %>
</a>
<% end %>


<h1>Text History</h1>


<% @driver_number = @driver.cellphone.last(10) %>
<% @messages.each do |message| %>
<% if @driver_number == message.number.last(10) %>
<p>
<%= local_time(message.created_at, format: '%B %e, %Y %l:%M%P %Z') %>
  <%= link_to message.text, message_path(message.number) %>
    <%= message.number.last(10) %>
</p> 
<% end %>
<% end %>


    
    