<h2>My Dashboard</h2>
<div>
  <h1>Shipper <small><%= @user.full_name %></small></h1>
</div>

<p><%= @user.email %></p>
<p><%= @user.telephone %></p>
<p><%= @user.street %></p>
<p><%= @user.city %></p>
<p><%= @user.state %></p>
<p><%= @user.type %></p>
<p>Updated <%= @user.updated_at.strftime("%B %-d, %Y @ %-l:%M %P") %></p>
<p>Created <%= @user.created_at.strftime("%B %-d, %Y @ %-l:%M %P") %></p>