<p id="notice"><%= notice %></p>

<p>
  <strong>Address type:</strong>
  <%= @load_address.address_type %>
</p>

<p>
  <strong>Street:</strong>
  <%= @load_address.street %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @load_address.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @load_address.longitude %>
</p>

<p>
  <strong>Street2:</strong>
  <%= @load_address.street2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @load_address.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @load_address.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @load_address.zip %>
</p>

<p>
  <strong>Company:</strong>
  <%= @load_address.company %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @load_address.contact %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @load_address.phone %>
</p>

<p>
  <strong>Load:</strong>
  <%= @load_address.load_id %>
</p>

<%= link_to 'Edit', edit_load_address_path(@load_address) %> |
<%= link_to 'Back', load_addresses_path %>
