<%=link_to "Update Carrier MC", edit_company_carrier_mc_path(@company, @cmc) %>

<p>Internal Entity Type: <%= @cmc.type %></p>
<p>Entity Type: <%= @cmc.entity_type %></p>
<p>Operating Status: <%= @cmc.operating_status %></p>
<p>Out Of Service Date: <%= @cmc.out_of_service_date %></p>
<p>Legal Name: <%= @cmc.legal_name %></p>
<p>DBA Name: <%= @cmc.dba_name %></p>
<p>Physical Address: <%= @cmc.physical_address %></p>
<p>Telephone: <%= @cmc.phone %></p>
<p>Mailing Address: <%= @cmc.mailing_address %></p>
<p>US DOT Number: <%= @cmc.usdot_number %></p>
<p>State Carrier ID:  <%= @cmc.state_carrier_id_number %></p>
<p>MC MM FF Numbers: <%= @cmc.mc_mx_ff_numbers %></p>
<p>DUNS Number: <%= @cmc.duns_number %></p>
<p>Power Units: <%= @cmc.power_units %> </p>
<p>Number of Drivers: <%= @cmc.driver_count %></p>
<p>MCS 150 Form Date: <%= @cmc.mcs_150_form_date %></p>
<p>MCS 150 Mileage Year: <%= @cmc.mcs_150_mileage_year %></p>

<p>general_freight:<%= @cmc.general_freight %></p>
<p>household_goods:<%= @cmc.household_goods %></p>
<p>metal_sheets_coils_rolls:<%= @cmc.metal_sheets_coils_rolls %></p>
<p>motor_vehicles:<%= @cmc.motor_vehicles %></p>
<p>drivetow_away:<%= @cmc.drivetow_away %></p>
<p>logs_poles_beams_lumber:<%= @cmc.logs_poles_beams_lumber %></p>
<p>building_materials:<%= @cmc.building_materials %></p>
<p>mobile_homes:<%= @cmc.mobile_homes %></p>
<p>machinery_large_objects:<%= @cmc.machinery_large_objects %></p>
<p>fresh_produce:<%= @cmc.fresh_produce %></p>
<p>safer_layout:<%= @cmc.safer_layout %></p>
<p>liquids_gases:<%= @cmc.liquids_gases %></p>
<p>intermodal:<%= @cmc.intermodal %></p> 
<p>passengers:<%= @cmc.passengers %></p>
<p>oilfield_equipment:<%= @cmc.oilfield_equipment %></p>
<p>livestock:<%= @cmc.livestock %></p>
<p>grain_feed_hay:<%= @cmc.grain_feed_hay %></p>
<p>coal_coke:<%= @cmc.coal_coke %></p>
<p>meat:<%= @cmc.meat %></p>
<p>garbage_refuse:<%= @cmc.garbage_refuse %></p>
<p>us_mail:<%= @cmc.us_mail %></p>
<p>chemicals:<%= @cmc.chemicals %></p>
<p>commodities_dry_bulk:<%= @cmc.commodities_dry_bulk %></p>
<p>refrigerated_food:<%= @cmc.refrigerated_food %></p>
<p>beverages:<%= @cmc.beverages %></p>
<p>paper_products:<%= @cmc.paper_products %></p>
<p>utilities:<%= @cmc.utilities %></p>
<p>agricultural_farm_supplies:<%= @cmc.agricultural_farm_supplies %></p>
<p>construction:<%= @cmc.construction %></p>
<p>water_well:<%= @cmc.water_well %></p>
<p>driver_inspections_count:<%= @cmc.driver_inspections_count %></p>
<p>vehicle_inspections_count:<%= @cmc.vehicle_inspections_count %></p>
<p>hazmat_inspections_count:<%= @cmc.hazmat_inspections_count %></p>
<p>iep_inspections_count:<%= @cmc.iep_inspections_count %></p>
<p>driver_inspections_out_service:<%= @cmc.driver_inspections_out_service %></p>
<p>vehicle_inspections_out_sercive:<%= @cmc.vehicle_inspections_out_service %></p>
<p>hazmat_inspections_out_service:<%= @cmc.hazmat_inspections_out_service %></p>
<p>iep_inspections_out_service:<%= @cmc.iep_inspections_out_service %></p>
<p>driver_inspections_out_service:<%= @cmc.driver_inspections_out_service_percent %></p>
<p>vehicle_inspections_out_service:<%= @cmc.vehicle_inspections_out_service_percent %></p>
<p>hazmat_inspections_out_service_percent:<%= @cmc.hazmat_inspections_out_service_percent %></p>
<p>iep_inspections_out_service:<%= @cmc.iep_inspections_out_service_percent %></p>
<p>crash_fatal:<%= @cmc.crash_fatal %></p>
<p>crash_injury:<%= @cmc.crash_injury %></p>
<p>crash_tow:<%= @cmc.crash_tow %></p>
<p>crash_total:<%= @cmc.crash_total %></p>
<p>cad_vehicle_inspections:<%= @cmc.cad_vehicle_inspections %></p>
<p>cad_driver_inspections:<%= @cmc.cad_driver_inspections %></p>
<p>cad_vehicle_out_of_service:<%= @cmc.cad_vehicle_out_of_service %></p>
<p>cad_driver_out_of_service:<%= @cmc.cad_driver_out_of_service %></p>
<p>cad_vehicle_out_of_service_percent:<%= @cmc.cad_vehicle_out_of_service_percent %></p>
<p>cad_driver_out_of_service_percent:<%= @cmc.cad_driver_out_of_service_percent %></p>
<p>us_inspections_prev_24:<%= @cmc.us_inspections_prev_24 %></p>
<p>cad_inspections_prev_24: <%= @cmc.cad_inspections_prev_24 %></p> 

<p>:crash_results_24_prior : <%= @cmc.crash_results_24_prior %></p>
<p>:cad_crash_results_24_prior : <%= @cmc.cad_crash_results_24_prior %></p> 
<p>:cad_crash_fatal : <%= @cmc.cad_crash_fatal %></p>
<p>:cad_crash_injury : <%= @cmc.cad_crash_injury %></p> 
<p>:cad_crash_tow  : <%= @cmc.cad_crash_tow  %></p>  
<p>:cad_crash_total : <%= @cmc.cad_crash_total %></p> 
<p>:us_inspection_results_for_24_months_prior_to: <%= @cmc.us_inspection_results_for_24_months_prior_to%></p>
<p>:total_inspections: <%= @cmc.total_inspections%></p>
<p>:total_iep_inspections: <%= @cmc.total_iep_inspections%></p>
<p>:crash_inspections: <%= @cmc.crash_inspections%></p>
<p>:the_rating_below_is_current_as_of: <%= @cmc.the_rating_below_is_current_as_of%></p>
<p>:rating_date : <%= @cmc.rating_date %></p>
<p>:review_date : <%= @cmc.review_date %></p>
<p>:review_rating: <%= @cmc.review_rating%></p>
<p>:review_type: <%= @cmc.review_type%></p>