<p id="notice"><%= notice %></p>

<p>
  <strong>Week pay:</strong>
  <%= @transaction.week_pay %>
</p>

<p>
  <strong>Escrow pay:</strong>
  <%= @transaction.escrow_pay %>
</p>

<p>
  <strong>Trans dec 1:</strong>
  <%= @transaction.trans_dec_1 %>
</p>

<p>
  <strong>Trans dec 2:</strong>
  <%= @transaction.trans_dec_2 %>
</p>

<p>
  <strong>Trans dec 3:</strong>
  <%= @transaction.trans_dec_3 %>
</p>

<p>
  <strong>Trans int 1:</strong>
  <%= @transaction.trans_int_1 %>
</p>

<p>
  <strong>Trans int 2:</strong>
  <%= @transaction.trans_int_2 %>
</p>

<p>
  <strong>Trans str 1:</strong>
  <%= @transaction.trans_str_1 %>
</p>

<p>
  <strong>Trans str 2:</strong>
  <%= @transaction.trans_str_2 %>
</p>

<p>
  <strong>Trans str 3:</strong>
  <%= @transaction.trans_str_3 %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
