<%= simple_form_for(@account) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_week_hb %>
    <%= f.input :escrow_total %>
    <%= f.input :notes_1 %>
    <%= f.input :notes_2 %>
    <%= f.input :acct_dec_1 %>
    <%= f.input :acct_dec_2 %>
    <%= f.input :acct_dec_3 %>
    <%= f.input :acct_str_1 %>
    <%= f.input :acct_str_2 %>
    <%= f.input :acct_str_3 %>
    <%= f.input :acct_int_1 %>
    <%= f.input :acct_int_2 %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
