<p id="notice"><%= notice %></p>

<h1>Accounts</h1>

<table>
  <thead>
    <tr>
      <th>First week hb</th>
      <th>Escrow total</th>
      <th>Notes 1</th>
      <th>Notes 2</th>
      <th>Acct dec 1</th>
      <th>Acct dec 2</th>
      <th>Acct dec 3</th>
      <th>Acct str 1</th>
      <th>Acct str 2</th>
      <th>Acct str 3</th>
      <th>Acct int 1</th>
      <th>Acct int 2</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.first_week_hb %></td>
        <td><%= account.escrow_total %></td>
        <td><%= account.notes_1 %></td>
        <td><%= account.notes_2 %></td>
        <td><%= account.acct_dec_1 %></td>
        <td><%= account.acct_dec_2 %></td>
        <td><%= account.acct_dec_3 %></td>
        <td><%= account.acct_str_1 %></td>
        <td><%= account.acct_str_2 %></td>
        <td><%= account.acct_str_3 %></td>
        <td><%= account.acct_int_1 %></td>
        <td><%= account.acct_int_2 %></td>
        <td><%= link_to 'Show', account %></td>
        <td><%= link_to 'Edit', edit_account_path(account) %></td>
        <td><%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Account', new_account_path %>
