<p id="notice"><%= notice %></p>

<p>
  <strong>First week hb:</strong>
  <%= @account.first_week_hb %>
</p>

<p>
  <strong>Escrow total:</strong>
  <%= @account.escrow_total %>
</p>

<p>
  <strong>Notes 1:</strong>
  <%= @account.notes_1 %>
</p>

<p>
  <strong>Notes 2:</strong>
  <%= @account.notes_2 %>
</p>

<p>
  <strong>Acct dec 1:</strong>
  <%= @account.acct_dec_1 %>
</p>

<p>
  <strong>Acct dec 2:</strong>
  <%= @account.acct_dec_2 %>
</p>

<p>
  <strong>Acct dec 3:</strong>
  <%= @account.acct_dec_3 %>
</p>

<p>
  <strong>Acct str 1:</strong>
  <%= @account.acct_str_1 %>
</p>

<p>
  <strong>Acct str 2:</strong>
  <%= @account.acct_str_2 %>
</p>

<p>
  <strong>Acct str 3:</strong>
  <%= @account.acct_str_3 %>
</p>

<p>
  <strong>Acct int 1:</strong>
  <%= @account.acct_int_1 %>
</p>

<p>
  <strong>Acct int 2:</strong>
  <%= @account.acct_int_2 %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
