<nav class="navbar navbar-fixed-top navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 
      data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <%= link_to root_path do %>
      <%= image_tag('small.png', class: "logopad pull-left" )%>  
      <% end %>
      <a class="navbar-brand page-scroll" href="#page-top">HRC Logistics</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "Welcome", root_path %></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
          aria-haspopup="true" aria-expanded="false">HRC Users <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%=  %></li>
            <li><%=  %></li>
            <li><%=  %></li> 
            <li role="separator" class="divider"></li>
            <li><%= link_to "All Users", users_path %></li> 
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
          aria-haspopup="true" aria-expanded="false">Another Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%=  %></li>
            <li></li>
            <li></li> 
            <li role="separator" class="divider"></li>
            <li><%= link_to "All Users", users_path %></li> 
          </ul>
        </li>        
      </ul>
      <!--<form class="navbar-form navbar-left">-->
      <!--  <div class="form-group">-->
      <!--    <input type="text" class="form-control" placeholder="Search">-->
      <!--  </div>-->
      <!--  <button type="submit" class="btn btn-default">Submit</button>-->
      <!--</form>-->
      <% if current_driver_user %>
      <ul class="nav navbar-nav navbar-right">
        <li></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
            aria-haspopup="true" aria-expanded="false"><%= current_driver_user.full_name %> 
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Edit My Profile", edit_driver_user_registration_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "End My Session", destroy_driver_user_session_path,
              method: :delete %></li>
          </ul>
        </li>
      </ul>
      <% end %>
      <% if current_shipper_user %>
      <ul class="nav navbar-nav navbar-right">
        <li></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
            aria-haspopup="true" aria-expanded="false"><%= current_shipper_user.full_name %> 
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Edit My Profile", edit_shipper_user_registration_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "End My Session", destroy_shipper_user_session_path,
              method: :delete %></li>
          </ul>
        </li>
      </ul>
      <% end %>
      <% if current_dispatch_user %>
      <ul class="nav navbar-nav navbar-right">
        <li></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
            aria-haspopup="true" aria-expanded="false"><%= current_dispatch_user.full_name %> 
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Edit My Profile", edit_dispatch_user_registration_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "End My Session", destroy_dispatch_user_session_path,
              method: :delete %></li>
          </ul>
        </li>
      </ul>
      <% end %>      
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>